
/* global */
:root{
    --bg: #F5F5F5;
    --card-bg: #FAFAFA;
    --color-black: #212121;
    --color-black-transparent-a: rgba(0, 0, 0, 0.5);
    --color-black-transparent-b: rgba(0, 0, 0, 0.20);
    --color-purple: #512DA8;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background: linear-gradient(to left, var(--bg), var(--color-purple));
}

.container{
    max-width: 75rem;
    margin: 0 auto;
}

.card{
    background: var(--card-bg);
    box-shadow: 0 4px 8px 0 var(--color-black-transparent-a), 0 6px 20px 0 var(--color-black-transparent-b);
    border-radius: 5rem;
    margin-top: 2rem;
}

.highlight{
    font-weight: bold;
    color: var(--color-purple);
}


ul li{
    margin-left: 2rem;
}

a{
    color: var(--color-black);
    text-decoration: none;
    transition: border-bottom 200ms ease-in-out;
}

a:hover{
    border-bottom: 1px solid var(--color-purple);
    color: var(--color-purple);
}

.menu{
    display: none;
}

.submenu-show{
    display: flex !important;
}

button{
    background: var(--color-purple);
    color: var(--card-bg);
    padding: .6rem;
    border-radius: .5rem;
    border: 1px solid var(--color-purple);
    cursor: pointer;
}

button:hover{
    background: var(--card-bg);
    color: var(--color-purple);
}


/* navigation */

.card-nav{
    margin-top: 3rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header{
    font-weight: bold;
    font-size: 2.5rem;
}

/* about me */
.profile{
    padding: 1.5rem;
}

.profile-img img{
    height: 20rem;
    max-width: 15rem;
    border-radius: 2rem;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-section{
    margin-left: 2rem;
}

/* responsive */
@media (max-width: 56rem) {

    /* global */
    .container{
        max-width: 50rem;
    }

    .menu{
        display: block;
    }

    ul li{
        margin-left: 0;
    }

    /* navigation */

    .nav{
        padding: 0.5rem;
    }

    .nav,
    .nav .nav-items{
        flex-direction: column;
    }

    .nav .nav-items{
        align-items: center;
        display: none;
    }

    /* profile */
    .profile{
        flex-direction: column;
    }

    .profile-section{
        margin-left: 0;
    }

    .profile-section h1{
        text-align: center;
    }
}